/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***** GENERAL STYLES *****/

html { 
  font-size: 16px;
}

body { 
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; 
  text-align: left;
/*! text-align:left because of the flexible nature of the divs? */
}

ul,
ol { 
  list-style-type: none;
}

a { 
  color: #e2e3ed;
  text-decoration: none;
}

h2 { 
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

h3, 
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.13em;
  line-height: 1.5em;
  margin: 20px 0;
}

p { 
  font-size: 1em;
  line-height: 1.25em;
}

img { 

}

figure { 

}

address { 
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}
/***** BASE HEADER - FOOTER STYLES *****/

header, 
footer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header { 
  padding: 15px 0;
}

header .content-wrapper { 
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
  margin: 0;
}

.header-divider {
  width: 100%;
  height: 1px;
  padding: 10px 0 20px 0;
}

header nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 60%;
}

header nav ul {
  align-items: center;
  display: flex;
  justify-content: space-around; 
  margin: 10px 0;
  width: 100%;
}

footer {
  flex-direction: column;
}

footer content { 
  margin-bottom: 50px;
}

footer .content-wrapper {
  margin: 50px 0;
  width: 55%;
}

footer .copywright { 
  margin: 20px 0;
}

footer p {
  margin: 0;
}

footer .social-icons{ 
  align-items: center;
  display: flex;
  justify-content: space-around;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}


/***** MOBILE BODY STYLES *****/ 

/*========== Homepage ==========*/

/* HERO */
.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.hero-area h1 { 
  font-family: 'Poppins', sans-serif;
  font-size: 2.25em; 
  font-weight: 500;
  line-height: 1.2em;
/*! why/how is line-height less than font-size? */
}

/* ASIDE */
aside {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

aside .form { 
  margin-top: 30px;
}

input [type=text] { 
  box-sizing: border-box;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
  width: 100%;
}

input [type=button] {
  background-color: #2a423a;
  border: none;
  color: #e2e3ed;
  font-family: 'Poppins', Helvetica, Arial, sans-serif; 
  font-size: 1.125em;
  font-weight: 500;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* FEATURES */
.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.features article { 
  width: 75%;
  margin: 30px 0;
}

.features .feature-items {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.features h2 {
  margin-bottom: 60px;
}

.features p {
  margin: 0; 
}

/* REVIEWS */
.reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.reviews h2 { 
  margin-bottom: 30px; 
  line-height: 1.25em;
}

.reviews h3 { 
  line-height: 1.333em;
  padding: 20px 0 20px 10px;
  width: 55%; 
}

/*========== About Page ==========*/
/* MISSION */
.mission {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* CONTACT */
.contact-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contact-content p { 
  margin: 0;
}

/*========== FAQ Page ==========*/
/* FAQ */
.faq {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.faq .content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
  margin: 50px 0 0 0;
}

.faq h2 { 
  line-height: 1em;
  margin-bottom: 40px;
}

.faq content { 
  margin-bottom: 50px;
}

.faq h4 { 
  line-height: 1.333em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) { 

  /* !!! TABLET STYLES !!! */

  /***** GENERAL STYLES *****/
  .content-wrapper { 
    max-width: 640px;
    margin: 100px 0;
  }
  /*-------------------- HOME PAGE --------------------*/

  /***** HEADER STYLES *****/

  header { 
    justify-content: space-around;
    padding: 33px 0;
  }

  header .content-wrapper {
    justify-content: space-between; 
    width: 100%;
  }

  header nav { 
    width: 20%;
  }

  header nav ul { 
    justify-content: space-between;
  }

  .header-divider { 
    display: none;
  /* ! why 'none' instead of 'flex'?*/
  }

  /* HERO */

  /* ASIDE */

  aside .content-wrapper { 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 50px 0;
  }

  aside .content-wrapper .form-description, 
  aside .content-wrapper form {
    width: 40%;
    margin: 0;
  }

  /* FEATURES */

  .features article {
    align-items: center;
    display: flex; 
    flex-basis: 50%;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0 10px;
  }

  .features .feature-items-description { 
    width: 50%;
  }

  /* REVIEWS */

  .reviews article {
    display: flex;
    justify-content: space-between;
  }

  .reviews article div { 
    width: 50%;
  }

  /* FOOTER */

  footer .content-wrapper {
    width: 65%;
    margin: 100px 0;
  }
  
  .footer-content { 
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  footer .contact { 
    margin-bottom: 0;
  }

  footer .copywright { 
    width: 100%;
  }

  /*-------------------- ABOUT PAGE --------------------*/

  .mission-content { 
    align-items: center;
    display: flex; 
    justify-content: space-between; 
    padding-top: 20px;
  /* ! why padding top? */
  }

  .mission-content p {
    width: 45%;
  }

  .contact-section .content-wrapper h2 { 
    width: 80%;
  }

  .contact-content { 
    align-items: flex-start; 
  /* ! why flex-start instead of center? */
    display: flex;
    justify-content: space-between; 
  }

  /*-------------------- FAQ PAGE --------------------*/

  .faq .content-wrapper { 
    justify-content: space-between;
  }

  .faq-content { 
    flex-basis: 45%;
  /* ! why flex-basis instead of width property? */
  }

  .faq h2 { 
    width: 100%;
  /* ! why 100% vs 80% of contact-section content-wrapper h2? */
  }
}

@media only screen and (min-width:1200px) {

  /* !!!! DESKTOP STYLES !!! */

  .content-wrapper {
    margin: 100px 0;
    max-width: 1000px;
  }
    /*-------------------- HOME PAGE --------------------*/

  /* HERO */

  .hero-area h1 { 
    width: 80%;
  }

  /* ASIDE */

  aside .content-wrapper { 
    justify-content: space-around;
  }

  aside .content-wrapper .form-description, 
  aside .content-wrapper form {
    width: 45%;
    margin: 0;
  }

  /* FEATURES */

  .features article {
    flex-basis: 30%;
  }

  .features h2 { 
    width: 70%;
  }

  /* REVIEWS */

  .reviews article div { 
    width: 50%;
  /* ! why include this porperty when the value is the same? */
  }

  /* FOOTER */

  /*-------------------- ABOUT PAGE --------------------*/

  .mission h2,
  .contact-section .content-wrapper h2 { 
    width: 100%;
  }

  /*-------------------- FAQ PAGE --------------------*/

  .faq h2 { 
    width: 100%;
  /* ! why include this porperty when the value is the same? */
  }
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

